.xc_container .yuan,.xc_container .yuan1,.xc_container .yuan2{width:10px;height:10px;border-radius:50%;border:1px solid #000;float:left;}
.xc_container .yuan{margin-top:3px;}
.xc_container .bdiv-1{padding:0px 12px;}
.xc_container .bdiv-2{padding:20px 0px;display:flex;flex-direction:row;justify-content: space-between;}
.xc_container .bdiv-2 i{font-size:15px;color:#000;}
.xc_container .bdiv-2 p{padding-left:20px;text-align:left;}
.xc_container .bdiv-2 .buya{padding-left:10px;color:red;}
.xc_container .bul li{overflow:hidden;position:relative;padding:5px 0px;}
.xc_container  .yuan1{position:absolute;top:35%;}
.xc_container .bul img{float:left;width:80px;height:80px;}
.xc_container .bli p{text-align:left;}
.xc_container .buyspan2{display:flex;flex-direction:row;justify-content: space-between;padding:8px 8px 8px 0px;}
.xc_container .buyspan3{border:1px solid #000;}
.xc_container .buyspan3 span{display:block;float:left;width:20px;height:20px;text-align:center;border-right:1px solid #000;}
.xc_container .buyspan3 .buyspan4{border-right:none;}
.xc_container .buyspan5{color:red;}
.xc_container .buydiv-1{border-bottom:1px solid #DDD;}
.xc_container .buyfooter .yuan2{border:2px solid #fff;margin:18px 3px 0px 10px; }
.xc_container .buyfooter{line-height:50px;}
.xc_container .buyfooter ul{display:flex;flex-direction:row;justify-content: space-between;color:#fff;}
.xc_container .buyfooter button{background:none;color:#fff;border:none;width:100px;font-size:15px;background-color:red;padding:10px 0px;margin-right:10px;}