.chose{
    display:flex;flex-wrap:wrap;padding-top:6px;overflow:hidden;height:59px;
    li{
        width:15%;text-align:center;margin-top:5px;line-height:70px;margin-left:4%;display:block;height:49px;
        img{width:100%;height:100%;}       
    }
}
