@import '../../utils/var.scss';

.hometop{position:fixed;z-index:1000;left:0;top:0;width:100%;height:50px;background: #1f1f1f;color:#bebebe;display:flex;justify-content:space-around;align-items:center;
    .glyphicon-heart-empty{color:#eac502;}
}
.bc{opacity:1;background:#222;}