.xc_container .dbody{padding:15px;flex:1;overflow-y:auto;font-size:14px;}
.xc_container  .ddiv-1{background-color:#fff;border-radius:15px;margin-bottom:15px;padding:0px 15px;}
.xc_container  .ddiv-1 li{line-height:30px;}
.xc_container  .ddiv-1 span{color:#F7B41A;}
.xc_container  .ddiv-1 h2{padding:20px 0px;}
.xc_container .ddiv-1 p{text-align:left;line-height:25px;padding-bottom:15px;}
.xc_container .dp-1{padding:5px 0px 40px 0px;border-bottom:1px solid #000;}
.xc_container  .ddiv-2{background-color:#fff;border-radius:15px;padding:0px 15px;padding:25px 15px;}
.xc_container  .ddiv-2 p{text-align:center;line-height:30px;}
.xc_container  .ddiv-3{background-color:#fff;}