.ediv-1 p{text-align:right;padding-right:30px;line-height:25px;}
.ediv-1  img{float:left;width:100px;height:100px;}
.ediv-2{border-top:2px solid #ccc;}
.ediv-1 .eli{overflow:hidden;}
.ediv-1 .eul {float:right;padding:15px 30px 15px 0px;}
.ediv-1 .eul li{float:left;}
.ediv-1 .eul .eli-2{line-height:34px;}
.ediv-1 .eul .eli-1{border:1px solid #000;margin-left:15px;padding:5px 10px;}
.ediv-1 .eul .eli-1:hover{color:red;border:1px solid red;}
.ediv-1 .eu3{padding:25px 0px;}