.xc_container .brdiv img{width:15%;height:60px;margin-right:1%;}
.xc_container .brdiv li{padding:10px;border-bottom:5px solid #eee;}
.xc_container .brdiv li:last-child{border-bottom:none;}
.xc_container .brdiv p{text-align:left;padding-top:5px;}
.xc_container .delete{margin-top:15px;}
.xc_container  .brli .timep{text-align:right;color:#555;padding-right:20px;padding-top:30px;}
.xc_container  .brli .Opmin{width:80%; }
.xc_container .brdiv li{overflow-x:auto;width:100%;}
.xc_container .Opdiv{width:50px;background-color:red;color:#fff;text-align:center;line-height:85px;}
.xc_container .Opbox{width:120%;display:flex;}