.xc_container .brdiv img{width:60px;height:60px;float:left;}
.xc_container .brdiv li{overflow:hidden;border-bottom:3px solid #f0efef;padding:5px ;}
.xc_container .brdiv li:last-child{border-bottom:none;}
.xc_container .brdiv p{text-align:left;padding:10px 0px 0px 5px;}
.xc_container .delete{margin-top:15px;}