.ind{width:100%; height:100%;}
#box{display:flex; flex-direction:column; height:100%;}
#main{flex:10; display:flex; flex-direction:column; padding-top:20%; background:white;
    input{width:66%; height:26px; margin:20px 0px; border:0px; background:white; border-radius:25px 25px;text-align:center;border:1px solid #ddd}
    .active{ box-sizing:border-box;}
    leble{width:100%;
        span{text-align:center; display:inline-block; color:#222;}
    }
}
.Switch{text-align:center;
    span{display:inline-block; line-height:50px; font-size:15px; background:#34393e; width:42%;
        &:nth-child(1){border-radius:10px 0 0 10px;}
        &:nth-child(2){border-radius:0 10px 10px 0;}
        a{width:100%; text-align:center; display:block; color:#fff;}
    }
}
.register{display:flex;flex-direction:column;padding-left:10%;
    >leble{position:relative;
        span{width:22%;text-align:left;color:#222;}
        >i{display:block; background:#fff; width:50px; line-height:23px; position:absolute; top:-4px; right:-53px; text-align:center;color:red;border:1px solid red;border-radius:10px;}
        >p{color:red; text-align:center; display:none;}
    }
}
.btn{text-align:center; position:relative; height:100px;top:40px;
    >span{background:#151a1d; color:#da5c5c;}
}
.btn_login{width:300px; line-height:300px; font-size:100px; border-radius:50%; display:inline-block; background:#c15f13; text-align:center; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%)}
.btn_register{width:100px; line-height:100px; font-size:30px; border-radius:50%; display:inline-block; background:#c15f13; text-align:center; position:absolute; top:50%; left:80%; transform:translate(-50%,-50%);
}
.login_state{text-align:center; display:none;
    >p{font-size:33px; color:red; }
}
.backhome{position:absolute;left:10px;top:10px;color:#4D4D4D;font-size:16px;}
.login{display:flex;flex-direction:column;padding-left:10%;
    span{width:16%;text-align:left;color:#222;}
}