.home{
    overflow:scroll;
    .hometop{position:fixed;z-index:1000;left:0;top:0;width:100%;height:50px;color:#bebebe;display:flex;justify-content:space-around;align-items:center;
    .glyphicon-heart-empty{color:#eac502;}
    }
    .bc{opacity:1;background:#222;}
    .fl_bottom{
        position:fixed;bottom:0;left:0;width:100%;height:50px;opacity:0.8;background:#151515;
        ul{display:flex;justify-content:space-between;height:100%;}
        a{
            flex:1;position:relative;display:flex;flex-direction:column;justify-content:center;align-items:center;color:#cacaca;
            &:nth-child(1){color:#eac502;}
        }
    }
}